/* -------------------------------------------------------------------------- */
/*                                   Borders                                  */
/* -------------------------------------------------------------------------- */

// Safari clipping mask
.overflow-hidden[class*='rounded'] {
  -webkit-mask-image: radial-gradient($white, $black);
  mask-image: radial-gradient($white, $black);
}

.border-dashed {
  --#{$prefix}border-style: dashed;
}
